<div class="jumbotron container-fluid mb-2">
    <h1 class="display-4 logo">Northwind</h1>
    <p class="lead">We have the best prices and selection of high quality food &amp; beverages on the planet! Check out our featured discounts below.</p>
    <hr class="my-4">
    <p>For spectacular international quisine, look no further.</p>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button">Order now <i class="fas fa-angle-double-right"></i></a>
    
<div class="p-2 m-2 row row-cols-1 row-cols-lg-3 featured" id="discount-row">
    @foreach (Discount d in Model)
    {
        <div class="col discounts px-2 py-4">
            <h4>@d.Title</h4>
            <div class="mb-4">
                @d.Description
            </div>
            <i>Discount expires: @d.EndTime.ToString("MM/dd/yyyy")</i><br />
            <a href="#" data-code="@d.Code" data-title="@d.Title" data-product="@d.Product.ProductName" class="discount"><i class="far fa-hand-point-right"></i> Discount Code</a>
        </div>
    }
</div>
<!-- toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto" id="product">Product</strong>
            <small class="text-body-secondary" id="title">just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Discount Code: <span id="code">Code</span>
    </div>
  </div>
</div>
<script type="text/javascript" src="~/discount.js"></script>
        <!-- grid
<div class="row container-fluid">
    <div class="card col-md p-3 m-1">
        <h3>Tis the seasoning</h3>
        <div class="mb-4">
            Order today! Save 12.5% on Chef Anton's Italian Seasoning.
            You don't want to make Chef Anton mad, do you?
        </div>
        <i>Discount expires: 2/25/2024</i><br />
        <a href="#" class="code" data-name="Italian Seasoning" data-codes="ITALIAN"><i class="far fa-hand-point-right"></i> Discount Code</a>
    </div>
    <div class="card col-md p-3 m-1">
        <h3>Go Green</h3>
        <div class="mb-4">
            Genen Shouyu goes on sale very rarely. Order now to save 10% off our already low price.
        </div>
        <i>Discount expires: 2/25/2019</i><br />
        <a href="#" class="code" data-name="Genen Shouyu" data-codes="SHOUYU"><i class="far fa-hand-point-right"></i> Discount Code</a>
    </div>
    <div class="card col-md p-3 m-1">
        <h3>Half Price</h3>
        <div class="mb-4">
            Just because you can't pronounce "Schoggi Schokolade" doesnt mean you shouldn't buy it. Get it now for 50% off!
        </div>
        <i>Discount expires: 02/25/2019</i><br />
        <a href="#" class="code" data-name="Schoggi Schokolade" data-codes="SCHOGGI"><i class="far fa-hand-point-right"></i> Discount Code</a>
    </div>
    </div> -->
