@model Customer

<div class="bg-primary m-1 p-1 text-white"><h4>Add Customer</h4></div>
<form method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="@Model.CompanyName">Company name: </label>
    <input asp-for="@Model.CompanyName" placeholder="Company Name" />
<br />
     <label asp-for="@Model.Address">Address: </label>
    <input asp-for="@Model.Address" placeholder="Address" />
<br />
     <label asp-for="@Model.City">City: </label>
    <input asp-for="@Model.City" placeholder="City" />
<br />
     <label asp-for="@Model.Region">Region: </label>
    <input asp-for="@Model.Region" placeholder="Region" />
<br />
     <label asp-for="@Model.PostalCode">Postal Code: </label>
    <input asp-for="@Model.PostalCode" placeholder="Postal Code" />
<br />
     <label asp-for="@Model.Country">Country: </label>
    <input asp-for="@Model.Country" placeholder="Country" />
<br />
     <label asp-for="@Model.Phone">Phone: </label>
    <input asp-for="@Model.Phone" placeholder="Phone" />
<br />
     <label asp-for="@Model.Fax">Fax: </label>
    <input asp-for="@Model.Fax" placeholder="Fax" />
    <button type="submit">Add</button>
</form>

<hr />
<a asp-controller="Home" asp-action="Index">Home</a>